<div class="set-center flex-column form h-auto mt-3">
  <div class="card shadow" style="width: 36rem;">
    <div class="card-header">
      <h2 class="text-center mt-2">Book Form</h2>
    </div>
    <div class="card-body">
      <!--Error Message-->
      <% if flash[:errors] %>
        <% flash[:errors].each do |error| %>
          <p class="text-danger"><%= error %></p>
        <% end %>
      <% end %>
      <!-- Form Started Here -->
      <%= form_with model: @book do |form| %>
        <br>
        <%= form.label :name, "Book Name :", class:"mt-3" %>
        <%= form.text_field :name, placeholder: "Enter Book Name Here", class:"mb-2 form-control" %>
        <br>
        <%= form.label :author, "Author :" %>
        <%= form.text_field :author, placeholder: "Enter Author Name Here", class:"mb-2 form-control" %>
        <br>
        <%= form.label :price, "Price :" %>
        <%= form.number_field :price, placeholder: "Enter Book Price Here", class:"mb-2 form-control" %>
        <br>
        <%= form.label :cover_page, "Cover Page :" %>
        <%= form.file_field :cover_page, class:"mb-2 form-control" %>
        <br>
        <br>
        <br>
        <div class="mb-6">
          <%= form.label :files, class: "label" %>
          <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="2" data-dropzone-max-files="5">
            <%= form.file_field :files, multiple: true, direct_upload: true, data: { dropzone_target: 'input' } %>
            <div class="dropzone-msg dz-message needsclick text-gray-600">
              <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
              <span class="dropzone-msg-desc text-sm">2 MB file size maximum. Allowed file types png, jpg.</span>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <%= form.submit "Save Book", class:"btn-secondary border-0 shadow py-2 px-5 mt-4" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
